.container {
  position: relative;
  width: 100%;
  height: 100%;
}
.before {
  position: absolute;
  top: -80PX;
  width: 100%;
  background: #d44439;
  height: 160Px;
  z-index: 1;
}
.slider-container-nn {
  width: 690px;
  height: 160Px;
  margin: 0 auto;
  overflow: hidden;
}
