/*
author: nong
time: 2020-45-27 15:45:04
function: 歌手页,主页的样式部分
*/
.container {
  position: relative;
  height: 100%;
}
.singer-list-header {
  height: 70Px;
}
.singers-list-main {
  position: fixed;
  top: 100Px;
  bottom: 60Px;
  width: 100%;
}
